
body{
    height: 100%;
    overflow: hidden;
}

.we-container{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;

}

.we-list-container{
    height: 500px;
    overflow-y: scroll;
}

.we-textBox {
    margin: 6px 8px;
    height: 30px;
    font-size: 14px;
    width: 80%;
}

.we-button{
    margin: 6px 8px;
    border: 0px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    justify-content: center;
    background-color: red;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.we-button:hover{
    background-color: #ff3a00;
}

.we-button-content{
    color: white;
    text-transform: uppercase;
}

li{
    text-align: left !important;
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    margin-bottom: 10px;
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
    -webkit-animation: example 1s; /* Safari 4.0 - 8.0 */
    animation: example 1s ;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}

@-webkit-keyframes example {
    from {top: 100px;}
    to {top: 0px;}
}

/* Standard syntax */
@keyframes example {
    from {top: 100px;}
    to {top: 0px;}
}


li span{
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
    font-size: 30px;

}

li span:hover{
    background-color: transparent;
    color: red;
    top: -10px;
    right: 0%;
    padding: 12px 16px;
    -webkit-animation: myfirst 5s linear; /* Safari 4.0 - 8.0 */
    animation: myfirst 5s linear;
}

@-webkit-keyframes myfirst {
    0%   {transform: rotate(80deg)}
    25%  {transform: rotate(160deg)}
    50%  {transform: rotate(240deg)}
    75%  {transform: rotate(360deg)}
    100% {transform: rotate(0deg)}
}

/* Standard syntax */
@keyframes myfirst {
    0%   {transform: rotate(80deg)}
    25%  {transform: rotate(160deg)}
    50%  {transform: rotate(240deg)}
    75%  {transform: rotate(360deg)}
    100% {transform: rotate(0deg)}
}

ul{
    margin: 6px 8px;
    padding: 0;
    position: relative;
    /*background-color: #ff9200b0;*/
}